*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  label.logo a{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
  }

.wrapper{
    background: white;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper:after{
    content: "";
    display: block;
    clear: both;
}

.service h2, .service p{
    color: white;
    margin: 10px 0;
    text-align: center;
}

.service{
    float: left;
    background: rgb(98, 234, 227);
    width: 29%;
    margin: 1%;
    padding: 1%;
    height: 500px;
    font-size: xx-large;
    
}

h1 {
    text-align: center;
}
ul#menu li {
    
}

.center {
    width: 500px;
    margin: 20px auto;
}

th, td {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 25px;
    
  }

  body {
    font-family: Roboto, sans-serif;
    font-size: 16px; 
  }

.service li {
    color: white;
}

ul.myUL {
    display: inline-block;
    text-align: left;
  }

  div.container {
    text-align: center;
  }

  ul {
    font-weight: bold;
    list-style-type: none;
  margin: 10;
  padding: 0;
  font-size: larger;
  font-stretch: expanded;
  }
  p.about{
    text-align: center;
    font-size: 20px;
  }