.wrapper{
    background: white;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper:after{
    content: "";
    display: block;
    clear: both;
}

.service h2, .service p{
    color: white;
    margin: 10px 0;
    text-align: center;
}

.service{
    float: left;
    background: rgb(98, 234, 227);
    width: 29%;
    margin: 1%;
    padding: 1%;
    height: 500px;
    font-size: xx-large;
    
}

h1 {
    text-align: center;
}
ul#menu li {
    
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 25px;
    
  }

  body {
    font-family: Roboto, sans-serif;
    font-size: 16px; 
  }

.service li {
    color: white;
}

ul.myUL {
    display: inline-block;
    text-align: left;
  }

  div.container {
    text-align: center;
  }

  ul {
    font-weight: bold;
    list-style-type: none;
  margin: 10;
  padding: 0;
  font-size: larger;
  font-stretch: expanded;
  
  
  }